# https://docs.github.com/en/actions

name: CI

on:
  push:
  pull_request:

  workflow_dispatch:

jobs:
  check-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: |
          yarn install
          yarn fmt:check

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: |
          yarn install
          yarn build
